<div id="wrapper" class="jsx-370875650">
  <div id="content" class="jsx-370875650">
    <div class="jsx-370875650 pageWrapper">
      <div class="jsx-1136977669 container">
        <div class="jsx-1136977669 pageComponents">
          <div class="jsx-1136977669 componentArea multiComponentArea">
            <!--<div style="padding-top:0px;padding-bottom:25px" class="jsx-1136977669 componentRow bannerSlider noPaddingComponentRow">
              <div class="jsx-1136977669 siteWidthContainer">
                <div class="jsx-2267725262 container">
                  <div class="jsx-2267725262 slide">
                    <div id="slick">
                        <div>
                            <div>
                              <div class="jsx-2267725262 slide" tabindex="-1" style=
                              "width: 100%; display: inline-block;">
                                <a href="#"target="_blank" rel="noopener noreferrer"></a>
                                <div class="jsx-3461008014 container" style=
                                "padding-bottom: 20.833%;">
                                  <div class="jsx-3461008014 mediaContainer">
                                    <div class="jsx-2267725262">
                                      <%= image_tag 'banners/slick-slider1.jpg' %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div>
                              <div class="jsx-2267725262 slide" tabindex="-1" style=
                              "width: 100%; display: inline-block;">
                                <a href=
                                "/uae-en/electronics-and-mobiles/mobiles-and-accessories/mobiles-20905?f[is_fbn]=1">
                                </a>
                                <div class="jsx-3461008014 container" style=
                                "padding-bottom: 20.833%;">
                                  <div class="jsx-3461008014 mediaContainer">
                                    <div class="jsx-2267725262">
                                      <%= image_tag "banners/slick-slider2.jpg" %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div>
                              <div class="jsx-2267725262 slide" tabindex="-1" style=
                              "width: 100%; display: inline-block;">
                                <a href="/uae-en/baby-sale"></a>
                                <div class="jsx-3461008014 container" style=
                                "padding-bottom: 20.833%;">
                                  <div class="jsx-3461008014 mediaContainer">
                                    <div class="jsx-2267725262">
                                      <%= image_tag "banners/slick-slider3.gif" %>
                                      alt="/baby-sale" class="jsx-2267725262" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div>
                              <div class="jsx-2267725262 slide" tabindex="-1" style=
                              "width: 100%; display: inline-block;">
                                <a href=
                                "/uae-en/beauty-and-health/beauty/fragrance?f[is_fbn]=1&amp;f[price][min]=100">
                                </a>
                                <div class="jsx-3461008014 container" style=
                                "padding-bottom: 20.833%;">
                                  <div class="jsx-3461008014 mediaContainer">
                                    <div class="jsx-2267725262">
                                      <%= image_tag "banners/slick-slider4.jpg" %>
                                      alt=
                                      "/beauty-and-health/beauty/fragrance?f[is_fbn]=1&amp;f[price][min]=100"
                                      class="jsx-2267725262" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div>
                              <div class="jsx-2267725262 slide" tabindex="-1" style=
                              "width: 100%; display: inline-block;">
                                <a href=
                                "/uae-en/fashion/fashion-teaser?f[department]=women&amp;f[department]=men&amp;limit=150">
                                </a>
                                <div class="jsx-3461008014 container" style=
                                "padding-bottom: 20.833%;">
                                  <div class="jsx-3461008014 mediaContainer">
                                    <div class="jsx-2267725262">
                                      <%= image_tag "banners/slick-slider5.jpg" %>
                                      alt=
                                      "/fashion/fashion-teaser?f[department]=women&amp;f[department]=men&amp;limit=150"
                                      class="jsx-2267725262" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div>
                              <div class="jsx-2267725262 slide" tabindex="-1" style=
                              "width: 100%; display: inline-block;">
                                <a href="/uae-en/new-arrivals"></a>
                                <div class="jsx-3461008014 container" style=
                                "padding-bottom: 20.833%;">
                                  <div class="jsx-3461008014 mediaContainer">
                                    <div class="jsx-2267725262">
                                      <%= image_tag "banners/en_banner-01.jpg" %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div style="padding-top:50px;padding-bottom:35px" class="jsx-1136977669 componentRow bannerModule">
              <div class="jsx-1136977669 siteWidthContainer">
                <div class="jsx-16778177 container">
                  <div class="jsx-16778177 bannerWrapper">
                    <div style="flex:0 0 100%" class="jsx-16778177 bannerContainer bannerModule ">
                      <div class="jsx-1641423291">
                        <a title="Banner" href="#">
                          <div class="jsx-1641423291 banner bannerModule featureBanner">
                            <div class="jsx-3461008014 container loaded" style="padding-bottom: 8.333%;">
                              <div class="jsx-3461008014 mediaContainer">
                                <%= image_tag 'banners/bazaar.gif' %>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->

          <div class="slide slide-mob">
            <p class="up">UP TO</p>
            <p class="num">50% OFF</p>
            <p class="good">SMARTPHONES</p>
            <button class="green">SHOP NOW</button>
          </div>
            <div class="slide slide-building">
              <p class="up">UP TO</p>
              <p class="num">50% OFF</p>
              <p class="good">BUILDINGS</p>
              <button class="green">SHOP NOW</button>
            </div>
            <div class="slide slide-sports">
              <p class="up">UP TO</p>
              <p class="num">50% OFF</p>
              <p class="good">SPORTSWEAR</p>
              <button class="green">SHOP NOW</button>
            </div>

            <div class="items-container">
              <div class="items-header">
                <h4></h4>
                <button></button>
              </div>
              <div class="items-row">

                <div class="items item1">
                  <div class="line"></div>
                  <%- product = SellableGood.find(3) %>
                  <%= image_tag product.sellable_good_images.first.url.url %>
                  <div class="disc-hover">
                    <p class="prod-name"><%= product.name %></p>
                    <p class="prod-price">UZS <%= product.price %></p>
                    <div class="cart"><%= image_tag 'custom_img/item_cart.png' %></div>
                  </div>
                </div>

                <div class="items item2">
                  <div class="line"></div>
                  <%- product = SellableGood.find(4) %>
                  <%= image_tag product.sellable_good_images.first.url.url %>
                  <div class="disc-hover">
                    <p class="prod-name"><%= product.name %></p>
                    <p class="prod-price">UZS <%= product.price %></p>
                    <div class="cart"><%= image_tag 'custom_img/item_cart.png' %></div>
                  </div>
                </div>

                <div class="items item3">
                  <div class="line"></div>
                  <%- product = SellableGood.find(5) %>
                  <%= image_tag product.sellable_good_images.first.url.url %>
                  <div class="disc-hover">
                    <p class="prod-name"><%= product.name %></p>
                    <p class="prod-price">UZS <%= product.price %></p>
                    <div class="cart"><%= image_tag 'custom_img/item_cart.png' %></div>
                  </div>
                </div>

              </div>
              <div class="items-row">

                <div class="items">
                  <div class="line"></div>
                  <%- product = SellableGood.find(18) %>
                  <%= image_tag product.sellable_good_images.first.url.url %>
                  <div class="disc-hover">
                    <p class="prod-name"><%= product.name %></p>
                    <p class="prod-price">UZS <%= product.price %></p>
                    <div class="cart"><%= image_tag 'custom_img/item_cart.png' %></div>
                  </div>

                </div>
                <div class="items">
                  <div class="line"></div>
                  <%- product = SellableGood.find(19) %>
                  <%= image_tag product.sellable_good_images.first.url.url %>
                  <div class="disc-hover">
                    <p class="prod-name"><%= product.name %></p>
                    <p class="prod-price">UZS <%= product.price %></p>
                    <div class="cart"><%= image_tag 'custom_img/item_cart.png' %></div>
                  </div>
                </div>
                <div class="items">
                  <div class="line"></div>
                  <%- product = SellableGood.find(20) %>
                  <%= image_tag product.sellable_good_images.first.url.url %>
                  <div class="disc-hover">
                    <p class="prod-name"><%= product.name %></p>
                    <p class="prod-price">UZS <%= product.price %></p>
                    <div class="cart"><%= image_tag 'custom_img/item_cart.png' %></div>
                  </div>
                </div>

              </div>
            </div>


          <div class="jsx-517218421 carouselWrapper">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <% SellableGood.phones.each do |product| %>
                  <div class="swiper-slide jsx-517218421 productContainer  " style="width: 186px !important; margin-right: 8px;">
                    <div class="jsx-2877948196 wrapper">
                        <a class="product View" href="<%= sellable_good_path(product.id) %>">
                          <div class="jsx-2877948196 imageContainer">
                            <div class="jsx-3461008014 container loaded" style="padding-bottom: 136.375%;">
                              <div class="jsx-3461008014 mediaContainer">
                                <%= image_tag product.sellable_good_images.first.url.url %>
                              </div>
                            </div>
                            <div class="jsx-2877948196 fulfilmentContainer">
                              <div>
                                <div class="jsx-2963792684 container">
                                  <%= image_tag 'noon-now-en.svg' %>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="jsx-2877948196 detailsContainer">
                            <p class="jsx-2877948196 brand"><%= product.firm %></p>
                            <div class="jsx-2877948196 name">
                              <div style="overflow: hidden;">
                                <div><span><%= product.name %></span></div>
                              </div>
                            </div>
                            <div class="jsx-2877948196 priceRow">
                              <div class="jsx-2877948196 productPriceContainer">
                                <p class="jsx-3273035461 productPrice "><span class="jsx-3273035461 sellingPrice">UZS <%= product.price %>0</span></p>
                              </div>
                              <div class="jsx-2877948196 actionContainer"><button aria-label="Add To Cart" class="jsx-2877948196 actionBtn">
                                <%= image_tag 'add-to-cart.svg' %></button></div>
                            </div>
                          </div>
                        </a>
                    </div>
                  </div>
                <% end %>
              </div>
              </div>
              </div>
          <div style="background-color:#f3f3f3" class="jsx-1136977669 componentArea multiComponentArea">
                <div class="jsx-1136977669 componentAreaBgImage" style="background-image: url(<%= image_url('banners/1.png') %>);"></div>
                  <div class="lazyload-placeholder"></div>
                 <div class="jsx-1136977669 componentRow bannerModule">
                    <div class="jsx-1136977669 siteWidthContainer">
                      <div class="jsx-16778177 container">
                        <div class="jsx-16778177 bannerWrapper">
                          <div style="flex:0 0 100%" class="jsx-16778177 bannerContainer bannerModule ">
                            <div class="jsx-1641423291">
                              <div class="jsx-1641423291 banner bannerModule featureBanner">
                                <div style="padding-bottom:10.694%"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 <div class="jsx-1136977669 componentRow bannerModule">
                    <div class="jsx-1136977669 siteWidthContainer">
                      <div class="jsx-16778177 container">
                        <div class="jsx-16778177 bannerWrapper">
                          <div style="flex:0 0 50%" class="jsx-16778177 bannerContainer bannerModule ">
                            <div class="jsx-1641423291">
                              <a title="Banner" href="/uae-en/beauty-and-health/beauty/fragrance/dolce_gabbana/guerlain/yves_saint_laurent/dior/carolina_herrera/cartier/bvlgari/givenchy/giorgio_armani/estee_lauder/paco_rabanne/lancome/tom_ford/calvin_klein/hugo_boss/lacoste?f[is_fbn]=1&amp;f[price][max]=299">
                                <div class="jsx-1641423291 banner bannerModule standardBanner">
                                  <div style="padding-bottom:50%"></div>
                                </div>
                              </a>
                            </div>
                          </div>
                          <div style="flex:0 0 50%" class="jsx-16778177 bannerContainer bannerModule ">
                            <div class="jsx-1641423291">
                              <a title="Banner" href="/uae-en/mega-qc">
                                <div class="jsx-1641423291 banner bannerModule standardBanner">
                                  <div style="padding-bottom:50%"></div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="background-color:#ffffff" class="jsx-1136977669 componentArea ">
                  <div style="padding-top:35px;padding-bottom:35px" class="jsx-1136977669 componentRow productCarousel">
                    <div class="jsx-1136977669 siteWidthContainer">
                      <div class="jsx-517218421 container">
                        <div class="jsx-517218421 headerContainer">
                          <header class="jsx-3400163498">
                            <h3 class="jsx-3400163498">Top Picks</h3>
                            <a class="jsx-3400163498" href="/uae-en/top-picks">VIEW ALL</a>
                          </header>
                        </div>
                        <div class="jsx-517218421 carouselWrapper">
                          <div class="swiper-container">
                            <div class="swiper-wrapper">
                              <% SellableGood.phones.each do |product| %>
                                <div class="swiper-slide jsx-517218421 productContainer  " style="width: 186px !important; margin-right: 8px;">
                                  <div class="jsx-2877948196 wrapper">
                                      <a class="jsx-2877948196 product View" href="#">
                                        <div class="jsx-2877948196 imageContainer">
                                          <div class="jsx-3461008014 container loaded" style="padding-bottom: 136.375%;">
                                            <div class="jsx-3461008014 mediaContainer">
                                              <%= image_tag product.sellable_good_images.first.url.url %>
                                            </div>
                                          </div>
                                          <div class="jsx-2877948196 fulfilmentContainer">
                                            <div>
                                              <div class="jsx-2963792684 container">
                                                <%= image_tag 'noon-now-en.svg' %>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="jsx-2877948196 detailsContainer">
                                          <p class="jsx-2877948196 brand">Samsung</p>
                                          <div class="jsx-2877948196 name">
                                            <div style="overflow: hidden;">
                                              <div><span><%= product.name %></span></div>
                                            </div>
                                          </div>
                                          <div class="jsx-2877948196 priceRow">
                                            <div class="jsx-2877948196 productPriceContainer">
                                              <p class="jsx-3273035461 productPrice "><span class="jsx-3273035461 sellingPrice">UZS <%= product.price %>0</span></p>
                                            </div>
                                            <div class="jsx-2877948196 actionContainer"><button aria-label="Add To Cart" class="jsx-2877948196 actionBtn">
                                              <%= image_tag 'add-to-cart.svg' %></button></div>
                                          </div>
                                        </div>
                                      </a>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                        <div style="padding-top:35px;padding-bottom:35px" class="jsx-1136977669 componentRow bannerModuleGroup">
                          <div class="jsx-1136977669 siteWidthContainer">
                            <div class="jsx-16778177 container">
                              <div class="jsx-16778177 bannerGroup">
                                <div class="jsx-16778177 bannerWrapper">
                                  <div class="jsx-16778177 bannerContainer">
                                    <div class="jsx-1641423291">
                                      <a title="Banner" href="#">
                                        <div class="jsx-1641423291 banner ">
                                          <div class="jsx-3461008014 container loaded" style="padding-bottom: 79.704%;"><div class="jsx-3461008014 mediaContainer">
                                            <%= image_tag 'banners/mobile1.png' %>
                                          </div>
                                        </div>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                                </div>
                                <div class="jsx-16778177 bannerWrapper">
                                  <div style="flex:0 0 50%" class="jsx-16778177 bannerContainer"><a style="background-image:url(<%= image_path 'banners/mobile2.png' %>)" title="Background banner Link" class="jsx-1641423291 banner bgImageBanner" href="#"></a></div>
                                  <div style="flex:0 0 50%" class="jsx-16778177 bannerContainer"><a style="background-image:url(<%= image_path 'banners/mobile3.png' %>)" title="Background banner Link" class="jsx-1641423291 banner bgImageBanner" href="#"></a></div>
                                  <div style="flex:0 0 50%" class="jsx-16778177 bannerContainer"><a style="background-image:url(<%= image_path 'banners/mobile4.png' %>)" title="Background banner Link" class="jsx-1641423291 banner bgImageBanner" href="#"></a></div>
                                  <div style="flex:0 0 50%" class="jsx-16778177 bannerContainer"><a style="background-image:url(<%= image_path 'banners/mobile5.png' %>)" title="Background banner Link" class="jsx-1641423291 banner bgImageBanner" href="#"></a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="jsx-517218421 carouselWrapper">
                    <div class="swiper-container">
                      <div class="swiper-wrapper">
                        <% SellableGood.phones.each do |product| %>
                          <div class="swiper-slide jsx-517218421 productContainer  " style="width: 186px !important; margin-right: 8px;">
                            <div class="jsx-2877948196 wrapper">
                                <a class="product View" href="<%= sellable_good_path(product.id) %>">
                                  <div class="jsx-2877948196 imageContainer">
                                    <div class="jsx-3461008014 container loaded" style="padding-bottom: 136.375%;">
                                      <div class="jsx-3461008014 mediaContainer">
                                        <%= image_tag product.sellable_good_images.first.url.url %>
                                      </div>
                                    </div>
                                    <div class="jsx-2877948196 fulfilmentContainer">
                                      <div>
                                        <div class="jsx-2963792684 container">
                                          <%= image_tag 'noon-now-en.svg' %>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="jsx-2877948196 detailsContainer">
                                    <p class="jsx-2877948196 brand"><%= product.firm %></p>
                                    <div class="jsx-2877948196 name">
                                      <div style="overflow: hidden;">
                                        <div><span><%= product.name %></span></div>
                                      </div>
                                    </div>
                                    <div class="jsx-2877948196 priceRow">
                                      <div class="jsx-2877948196 productPriceContainer">
                                        <p class="jsx-3273035461 productPrice "><span class="jsx-3273035461 sellingPrice">UZS <%= product.price %>0</span></p>
                                      </div>
                                      <div class="jsx-2877948196 actionContainer"><button aria-label="Add To Cart" class="jsx-2877948196 actionBtn">
                                        <%= image_tag 'add-to-cart.svg' %></button></div>
                                    </div>
                                  </div>
                                </a>
                            </div>
                          </div>
                        <% end %>
                      </div>
                      </div>
                      </div>
                  <div style="padding-top:35px;padding-bottom:35px" class="jsx-1136977669 componentRow bannerModuleGroup">
                    <div class="jsx-1136977669 ">
                      <div class="jsx-16778177 container">
                        <div class="jsx-16778177 bannerGroup">
                          <div class="jsx-16778177 bannerWrapper">
                            <div class="jsx-16778177 bannerContainer">
                              <div class="jsx-1641423291">
                                <a title="Banner" href="#">
                                  <div class="jsx-1641423291 banner ">
                                   <div class="jsx-3461008014 container loaded" style="padding-bottom: 79.704%;"><div class="jsx-3461008014 mediaContainer">
                                     <%= image_tag 'banners/parfum1.png' %>
                                  </div>
                                </a>
                              </div>
                            </div>
                            </div>
                            </div>
                          <div class="jsx-16778177 bannerWrapper">
                            <div style="flex:0 0 50%" class="jsx-16778177 bannerContainer"><a style="background-image:url(<%= image_path 'banners/parfum2.png' %>)" title="Background banner Link" class="jsx-1641423291 banner bgImageBanner" href="#"></a></div>
                            <div style="flex:0 0 50%" class="jsx-16778177 bannerContainer"><a style="background-image:url(<%= image_path 'banners/parfum3.png' %>)" title="Background banner Link" class="jsx-1641423291 banner bgImageBanner" href="#"></a></div>
                            <div style="flex:0 0 50%" class="jsx-16778177 bannerContainer"><a style="background-image:url(<%= image_path 'banners/parfum4.png' %>)" title="Background banner Link" class="jsx-1641423291 banner bgImageBanner" href="#"></a></div>
                            <div style="flex:0 0 50%" class="jsx-16778177 bannerContainer"><a style="background-image:url(<%= image_path 'banners/parfum5.png' %>)" title="Background banner Link" class="jsx-1641423291 banner bgImageBanner" href="#"></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    </div>
                      <div class="jsx-517218421 carouselWrapper">
                        <div class="swiper-container">
                          <div class="swiper-wrapper">
                            <% SellableGood.order("RANDOM()").parfum.each do |product| %>
                              <div class="swiper-slide jsx-517218421 productContainer  " style="width: 186px !important; margin-right: 8px;">
                                <div class="jsx-2877948196 wrapper">
                                    <a class="product View" href="<%= sellable_good_path(product.id) %>">
                                      <div class="jsx-2877948196 imageContainer">
                                        <div class="jsx-3461008014 container loaded" style="padding-bottom: 136.375%;">
                                          <div class="jsx-3461008014 mediaContainer">
                                            <%= image_tag product.sellable_good_images.first.url.url %>
                                          </div>
                                        </div>
                                        <div class="jsx-2877948196 fulfilmentContainer">
                                          <div>
                                            <div class="jsx-2963792684 container">
                                              <%= image_tag 'noon-now-en.svg' %>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="jsx-2877948196 detailsContainer">
                                        <p class="jsx-2877948196 brand"><%= product.firm %></p>
                                        <div class="jsx-2877948196 name">
                                          <div style="overflow: hidden;">
                                            <div><span><%= product.name %></span></div>
                                          </div>
                                        </div>
                                        <div class="jsx-2877948196 priceRow">
                                          <div class="jsx-2877948196 productPriceContainer">
                                            <p class="jsx-3273035461 productPrice "><span class="jsx-3273035461 sellingPrice">UZS <%= product.price %>0</span></p>
                                          </div>
                                          <div class="jsx-2877948196 actionContainer"><button aria-label="Add To Cart" class="jsx-2877948196 actionBtn">
                                            <%= image_tag 'add-to-cart.svg' %></button></div>
                                        </div>
                                      </div>
                                    </a>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <br>
                      <br>
                    </div>
                  </div>
                </div>
